.list-table {
    width: 1000px;
  }
  .context {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .text-left {
    max-width: 300px;
  }
  .model {
    max-width: 100px;
  }
  .v-data-table td {
    padding : 20px;
  }